  
{% extends "layout.html" %}
{% block content %}
<h1>A Brief Summary</h1>
<div class="timeline-container">
     <ul class="timeline">
     <li>
          <div class="timeline-badge"></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-heading">2021</h4>
            </div>
          </div>
          <div class="timeline-panel myinverted">
              <h5 class="timeline-body-header">Spring & Summer</h5>
              <p class="timeline-body">
	      Began hosting a <a href="http://khitwebtools.com/home">variety of browser-based webtools</a> 
	      for some of KHIT's clients. Got into building custom websites for other clients.<br>
              </p>
          </div>
        </li>
      
        <li>
          <div class="timeline-badge"></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-heading">2020</h4>
            </div>
          </div>
          <div class="timeline-panel myinverted">
              <h5 class="timeline-body-header">Fall</h5>
	      <p class="timeline-body">
	      Earned my <a href="https://www.credential.net/94a2db2a-2ff2-4e21-8e43-a37ef1e51bb2?key=305f9b4678e339f5cb014fe4e81f53378a99b3ea22e6f35ce203cee0d19f5cbc">Associate Cloud Engineer certificate</a> from Google Cloud.
	      </p>
	      <h5 class="timeline-body-header">Spring & Summer</h5>
              <p class="timeline-body">
              Started making robotic process automations (link to blog) for some of KHIT's clients. Got pretty good at it.
              </p>
          </div>
        </li>

        <li>
          <div class="timeline-badge"></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-heading">2019</h4>
            </div>
          </div>
          <div class="timeline-panel myinverted">
	      <h5 class="timeline-body-header">Fall</h5>      
              <p class="timeline-body">
              Began my first job as an Associate Software Engineer at Cerner Corporation, 
	      where I realized that working from home is the future of the tech industry (link to blog).<br>
	      Resigned in October, and started working remotely full-time at <a href="https://www.khitconsulting.com/">KHIT Consulting.</a>
              </p> 
              <h5 class="timeline-body-header">Spring</h5>      
              <p class="timeline-body">
              Graduated from DePauw University with a B.A. in Computer Science.
              </p>
	  </div>
        </li>
        
        <li>
          <div class="timeline-badge"></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-heading">2018</h4>
            </div>
          </div>
          <div class="timeline-panel myinverted">
	      <h5 class="timeline-body-header">Summer</h5>	
              <p class="timeline-body">
	      Interned at Cerner Corporation, where I realized the cloud is the future of software engineering.
	      </p>
          </div>
        </li>
    </ul>
</div>
{% endblock content %}
